.bookingButton {
    width: 100%;
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 3px;
    padding: 16px;
    color: var(--primary-dark-blue);
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        filter: brightness(95%);
    }
}

.bookingButton__text {
    font-size: 12px;
    margin-bottom: 5px;
}

.bookingButton__price {
    font-size: 20px;
}